<h4>
  <%= link_to root_path do %>
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
  <% end %>
</h4>
<h1>Contributor <%= @username %></h1>
<%= @profile[:avatar].html_safe %>
<h3>
  <%= link_to 'GitHub Profile', @profile[:url], target: '_blank' %>
</h3>
<%= @profile[:contribution_graph].html_safe %>