<h1>GitHub Contributor <%= @username %></h1>
<div class="col-3 float-left pr-3">
  <%= @profile[:avatar].html_safe %>
  <h3><%= link_to 'GitHub Profile', @profile[:url], target: '_blank' %></h3>
</div>
<div class="col-9 float-left pl-2">
  
  <%= @profile[:contribution_graph].html_safe %>

  <h2 class="f4 text-normal mb-2">
    Contribution Statistics
  </h2>
  <table class="table table-bordered">
    <tr><th>Time Period</th><th>Total</th><th>Average</th></tr>
    <tr><td>Last 7 days</td><td><%= @profile[:last_week_total] %></td><td><%= (@profile[:last_week_total].to_f/7).round(1) %></td></tr>
    <tr><td>Last 30 days</td><td><%= @profile[:last_month_total] %></td><td><%= (@profile[:last_month_total].to_f/30).round(1) %></td></tr>
    <tr><td>Last <%= @profile[:total_days] %> days</td><td><%= @profile[:last_year_total] %></td><td><%= (@profile[:last_year_total].to_f/@profile[:total_days]).round(1) %></td></tr>
  </table>
</div>